.main-header {
  width: 100%;
  height: 65vh;
  background-image: url(picture/10.png);
  position: relative;
  z-index: -1; /* Ensures the image stays in the background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

}

.bgcolor{
  background-color: #ffac50;
}

#navbar, #cart{
  width: 100%;
  height: 5vh;

}



#navbar-ctn{
  list-style-type: none;
  margin: 0;
  padding: 15px 0;
  justify-self: center;
  top: 30vh;
  position: absolute;
  left: 45vh;
  background-color: bisque;
  display: block;
}

#navbar-ctn li{
  display: inline;
  padding: 0 2vh;
}

#navbar-ctn a{
  text-decoration: none;
  color: #000000;
  font-family: Solway, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
}

#top-nav{
  list-style-type: none;
  margin: 0;
  justify-content: center;
  top: 10vh;
  position: absolute;
  height: auto;
}

#top-nav li{
  display: inline-block;
  padding: 0 19vh;
}

#top-nav a{
  text-decoration: none;
}