@font-face {
    font-family: "baneta";
    font-family: "eden_meadow";
    font-family: "reliesta";
    font-family: "solwat";
    src: url(font/baneta/Baneta.ttf);
    src: url(font/eden_meadow/Eden\ Meadow\ DEMO.ttf);
    src: url(font/reliesta/Reliesta.otf);
    src: url(font/solway/fonts/Solway-Bold.ttf);
    src: url(font/solway/fonts/Solway-Regular.ttf);
}

html{
    scroll-behavior: smooth;/*for at gør min bevgelse til to top, smooth, istedetfor at den mere eller mindre teleportere derhen*/
}

.hero {
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    z-index: -1;
    max-width: 191vh;

}
p{
    display: flex;
    font-family: Solway;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

body{ /*kaldt på body for at give den faste regler, alle andre elementer skal reagere ud fra*/
    background-color: #fff6e9;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

h1{
    display: flex;
    font-family: Reliesta;
    justify-content: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 2.56px;
}

h2{
    display: flex;
    font-family: Baneta;
    justify-content: center;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
}

#overskrift{
    display: flex;
    padding-top: 30%;
    padding-bottom: 5%;
    justify-content: center;
    color: #fff6e9;
    
}

.bg{
    display: flow-root; /*brug af flow root for, mere eller mindre skabe n nu root, som skaber en block tontainer lægger dens indhold ud, ved brug af et flow layout*/
    background-image: url(asset/BACKGROUND1.svg); /*implementerede billede i CSS istedetfor Html da det gav de færeste problemer, og ikke kom i vejen for det andet indhold, det gav mulighed for at undgå hirakiet i html delen*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 150vh;
    z-index: -4;
    
}

.start{
    height: auto;
    padding:2%;
    text-align: center;
    max-width: 100vh;
    justify-self: center;
    color: black;

}

.scroll-top{
    display: flex;
    position:fixed;/*fixed for at den fast forbliver i hjørnet*/
    justify-content: right;
    z-index: 5; /*z indeks for at få den frem på y aksen, så den ikke forsvinder under andre elementer*/
    bottom: 10px;
    right: 10px;

}

/*-----------------responsiv----------------*/
@media screen and (max-width: 768px) {

    #overskrift{
        display: flex;
        padding-top: 30%;
        color: white;
    }
    
    body{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 190vh;
    }

    h1{
        justify-content: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        
    }

    h2{
        justify-content: center;
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        max-width: 290px;
    }

    p{

        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        justify-self: center;
        max-width: 290px;

    }

    .start{
        padding-top: 15%; /*ekstra padding i responsiv, da den ellers sidder for tæt på hero*/
    }

    .bg{   
        margin-top: 5%;
        display: block;
        min-height: 60vh;
    }
}